### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [109]:
# Dependencies and Setup
import pandas as pd

In [110]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [111]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [112]:
#Player count

#Get unique SN (player name) from the data
player_count = len(purchase_data['SN'].unique())

#Create a Data Frame with the value obtained from the previous step
df_player = pd.DataFrame({"Total Players": [player_count]})
df_player

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [113]:
# Purchasing Analysis (Total)

#Get the unique items based on the unique Item ID's
unique_items = len(purchase_data['Item ID'].unique())

#Average Price of all the available purchase data
avg_price = purchase_data['Price'].mean()

#Number of Purchases based on the unique Purchase ID
num_of_purchases = len(purchase_data['Purchase ID'].unique())

#Total Revenue is calculated by getting the sum of all the prices present in the purchase data

total_revenue = purchase_data['Price'].sum()

#Create a Data Frame to store the data collected above:
df_summary = pd.DataFrame({"Total Players" : [player_count],
                          "Unique Items" : [unique_items],
                          "Average Price" : [avg_price],
                          "Number of Purchases" : [num_of_purchases],
                          "Total Revenue": [total_revenue]})
df_summary.style.format({'Average Price':'${:.2f}', 'Total Revenue':'${:.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [114]:
#Create a DataFrame by doing a group by on Gender from the purchase_data dataframe
grp_gender = purchase_data.groupby(['Gender'])

#Get the Count of each Gender's present in the data
unq_gender = grp_gender['SN'].nunique()

#Percentage Calculation
percent_gender = (unq_gender/sum(unq_gender)*100)

#Create the Dataframe using the data collected above

summary_gender = pd.DataFrame({"Total Count":unq_gender,
                              "Percentage of Players": percent_gender})
#Formatting the percentage field
summary_gender = summary_gender.style.format({'Percentage of Players':'{:.2f}%'})

summary_gender


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [115]:
#Purchasing Analysis by Gender

#Create a DataFrame by doing a group by on Item ID from the purchase_data dataframe
purchase_count = grp_gender['Item ID'].count()

#Calcuate the Average Price using the dataframe grouped by Gender
avg_purchase_price = grp_gender['Price'].mean()

#Calcuate the Total Purchase using the dataframe grouped by Gender
total_purchase = grp_gender['Price'].sum()

#Calcuate the number of shoppers using the dataframe grouped by Gender
num_of_shoppers = grp_gender['SN'].nunique()

#Calcuate the Average purchase total using the dataframe grouped by Gender
purchase_by_person = (total_purchase/num_of_shoppers)

purchase_analysis = pd.DataFrame({'Purchase Count': purchase_count,
                                  'Average Purchase Price': avg_purchase_price,
                                  'Total Purchase Value': total_purchase,
                                  'Average Purchase Total per Person by Gender': purchase_by_person
                                 })
purchase_analysis = purchase_analysis.style.format({'Average Purchase Price':'${:.2f}', 
                                'Average Purchase Total per Person by Gender':'${:.2f}'})
purchase_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [116]:
#Age Demographics

#Declare the bin variable and assign the bin values
bins = [0,9,14,19,24,29,34,39,44,49,100]

#Declare a group_names variable and assign the group name for the bins declared above
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40-44','45-49','50+']

#Create a new column 'Age Group' based on the above bin and the group names
purchase_data['Age Group'] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#Create a dataframe by doing a group by on Age Group from the purchase_data dataframe
group_players = purchase_data.groupby(['Age Group'])

# Count of players by age group
count_players_age = group_players['SN'].nunique()

# Percentage of players by age group
percent_players_age = count_players_age/sum(count_players_age)*100

#Create a DataFrame based on the data collected above
age_demographics = pd.DataFrame({'Total Players': count_players_age,
                                 'Percentage by age group' : percent_players_age
                                })
age_demographics = age_demographics.style.format({'Percentage by age group':'{:.2f}%'}) 
age_demographics

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [117]:
#Purchasing Analysis (Age)

#Calculate the Average Purchase Price by getting the mean of all the Price data
avg_purchase_price_age = group_players['Price'].mean()

#Calculate the Average Purchase Price by adding all the Price data
total_purchase_price_age = group_players['Price'].sum()

#Calculate the purchase count based on the count of Items
purchase_count =  group_players['Item ID'].count()

#Calculate the Average Purchase by person in the age group by using the formula below
purchase_by_person = (total_purchase_price_age/count_players_age)

#Create a dataframe using the data collected above
purchase_analysis_age = pd.DataFrame({'Purchase Count': purchase_count,
                                 'Average Purchase Price' : avg_purchase_price_age,
                                 'Total Purchase Value': total_purchase_price_age,
                                 'Average Purchase Total per Person by Age Group': purchase_by_person
                                })
purchase_analysis_age = purchase_analysis_age.style.format({'Average Purchase Price':'${:.2f}', 
                                'Average Purchase Total per Person by Age Group':'${:.2f}'})
purchase_analysis_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [118]:
group_spender = purchase_data.groupby(['SN'])

#Total Purchase Value
tot_purchase_top_spender = group_spender['Price'].sum()
#Purchase count
purchase_count_spender = group_spender['Price'].nunique()
#Average Purchase price
avg_purchase_spender = group_spender['Price'].mean()

df_spender = pd.DataFrame({'Purchase Count': purchase_count_spender,
                           'Average Purchase Price': avg_purchase_spender,
                           'Total Purchase Price' : tot_purchase_top_spender
                          })
# Sort purchase value in descending order
df_spender_sort = df_spender.sort_values("Total Purchase Price", ascending = False)

#Extracting only top 5 spenders into a different data frame
df_spender_top_5 = df_spender_sort.head(5)

#Displaying only top 5 spenders
df_spender_top_5

             Purchase Count  Average Purchase Price  Total Purchase Price
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [119]:
# Most Popular Items

#Group by Item ID and Item Name
popular_items = purchase_data.groupby(["Item ID","Item Name"])

# Purchase Count 
popular_purchase_count = popular_items["Item ID"].count()

# Total purchase value
popular_purchase_value = popular_items["Price"].sum()

# Item price
popular_item_price = popular_items["Price"].mean()

# Place all of the data found into a summary DataFrame

df_popular_items =pd.DataFrame({'Purchase Count' : popular_purchase_count, 
                                'Item Price': popular_item_price ,
                                'Total Purchase Value': popular_purchase_value})


# # Sort purchase value in descending order
df_popular_items_sort = df_popular_items.sort_values("Purchase Count", ascending = False)

# Find top popular items
most_popular = df_popular_items_sort.head(5)

# Display the summary dataframe
most_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [120]:
most_profitable = most_popular.sort_values("Total Purchase Value", ascending = False)

most_profitable

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16